{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">A local online marketplace.</p>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> 
        <h2><strong>Meet The Team</strong></h2>
        <p class="lead"><strong>The Wonderful People Behind the Product</strong></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center"><img class="img-circle centered" src="http://i.imgur.com/4IPzJf3t.gif" alt="profile pic"></div>
        <h2 class="heavy text-center"><a href="https://in.linkedin.com/in/tinnker14">Sayan Bhattacharya</a></h2>
        <h2><center><strong>CEO/Acting CTO</strong></center></h2>
        
      </div>
      <hr>
      <div class="col-lg-4">
        <div class="text-center"><img class="img-circle centered" src="http://i.imgur.com/Kle1F35t.gif" title="source: imgur.com" alt="profile pic"></div>
        <h2 class="heavy text-center"><a href="http://in.linkedin.com/pub/aditya-haldar/54/b78/a6a/en">Aditya Haldar</a></h2>
        <center><h3><strong>CEO/CFO</strong></h3></center>
        </div>
        <hr>
 
        <div class="col-lg-4">
        <div class="text-center"><img class="img-circle centered" src="http://i.imgur.com/YxKZGR1t.jpg" alt="profile pic"></div>
        <h2 class="heavy text-center"><a href="https://in.linkedin.com/pub/akash-chakrabarti/b9/528/24">Akash Chakrabarti</a></h2>
        <h3><center><strong>Head of Business Operations</strong></center></h3>
        </div>
    </div>
    </div>
  </div>
</div>

<div id="sec3">
  <div class="container">
    <div class="row">
      <div id="map-outer" class="col-md-12">
        <div id="address" class="col-md-4">
          <h2>Our Location</h2>
          <address>
            <strong>Tinnker Inc</strong><br>
            Madhurawada, IT-SEZ<br>
            Sunrise Startups, Startup Village<br>
            Vishakapatnam<br>
            India - 531001<br>
            <abbr>P:</abbr> +91 9874434265
          </address>
        </div>
        <div id="map-container" class="col-md-8"></div>
      </div>
    </div>
  </div>
</div>
{% endblock container %}

{% block scripts %}
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script>

   function init_map() {
     // Enter the latitude and longitude of your office here
	 var myLocation = new google.maps.LatLng(17.8242786,83.3602373);

     var mapOptions = {
          center: myLocation,
          zoom: 14
     };

	 var marker = new google.maps.Marker({
	   position: myLocation,
	   title:"We are here"});

     var map = new google.maps.Map(document.getElementById("map-container"),
                                   mapOptions);
	 marker.setMap(map);
   }

   google.maps.event.addDomListener(window, 'load', init_map);
  </script>
{% endblock scripts %}


